/* @media screen and (max-width:830px) and (min-width:671px) {
    li , p , a {
        font-size: 12px;
    }
} */

@media screen and (max-width:760px) {
    p , a {
        font-size: 12px;
    }
    .header-title {
        font-size: 40px;
    }
    .phone-banner {
        /* 把關閉的塊打開 */
        display: block;
        background-image: url('../images/css-spire.png');
        background-position: 0px 0px;
        margin-left: 5px;
        height: 25px;
        width: 25px;
        background-color: aqua;
    }
    header ul.change-flex {
        display: none;
    }
}