@media screen and (max-width:1035px) and (min-width:873px) {
    td {
        font-size: 13px;
    }
}
@media screen and (max-width:872px) and (min-width:821px) {
    td {
        font-size: 12px;
    }
}
@media screen and (max-width:820px) and (min-width:721px) {
    header ul.change-flex {
        font-size: 16px;
    }
    td {
        font-size: 11px;
        padding: 2px 2px;
    }
}

@media screen and (max-width:720px) {
    .main-container {
        width: 100vw;
    }
    .header-title {
        font-size: 40px;
    }
    header div.phone-banner {
        /* 把關閉的塊打開 */
        display: block;
        background-image: url('../images/css-spire.png');
        background-position: 0px 0px;
        margin-left: 5px;
        height: 25px;
        width: 25px;
        background-color: aqua;
    }
    header ul.change-flex {
        display: none;
    }
}