main .change-flex {
    display: flex;
    justify-content: space-evenly;
}
main .toggle-bar {
    margin: 5px auto 0px auto;
}
.change-flex {
    cursor: pointer;
}
.toggle-menu {
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin: 0 auto;
}
.toggle-menu>li {
    display: none;
}
.toggle-menu>li:first-child {
    display: block;
}
.li-shadow {
    margin-top: 15px;
}
.li-shadow li {
    margin-bottom: 8px;
}
.li-shadow a {
    width: fit-content;
    padding: 2px 4px;
    box-sizing: border-box;
    margin: auto auto;
}
/* related-link及form-download */
.li-shadow a:hover {
    box-shadow: grey 3px 4px 4px 0px;
    background-color: rgba(238, 27, 73, 0.4);
}