.main-container {
    flex-direction: column;
}
.change-flex {
    cursor: pointer;
}
.click_box{
    margin: 8px auto;
    width: 100%;
    justify-content: space-evenly;
}
.toggle-menu>li {
    display: none;
}
.toggle-menu>li:first-child {
    display: block;
}
.layer-menu a{
    width: fit-content;
    height: 30px;
    line-height: 30px;
}