ul.float-flex {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 25px;
}
ul.float-flex>li {
    display: flex;
    /* width: 50%; */
    flex-direction: column;
    background-color: bisque;
    padding: 5px 5px;
    flex: 25%;
    /* 限制最大及最小寬度 */
    max-width: 450px;
    min-width: 350px;
}
/* 動畫 */
ul.float-flex>li:hover {
    box-shadow: 3px 3px 4px 1px gray;
    cursor: pointer;
}
ul.float-flex img , .name , .position , .email {
    text-align: center;
    margin-top: 4px;
}
.name {
    font-size: 20px;
    font-weight: bold;
    color: rgba(0,0,139,0.6);
    /* 指定字距 */
    letter-spacing: 4px;
}
.teacher-data {
    margin-left: 5px;
    list-style: circle;
    list-style-position: inside;
}
.teacher-data span {
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
}
.illustrate {
    margin: 4px 0px 4px 2em;
}
.illustrate li {
    line-height: 20px;
    font-size: 16px;
}