ul.float-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
ul.float-flex>li {
    display: flex;
    width: 50%;
    flex-direction: column;
    background-color: bisque;
    align-items: center;
    margin-top: 8px;
    /* 限制最大及最小寬度 */
    min-width: 300px;
}
.teacher-data {
    list-style: circle;
}